/* .App {
  text-align: center;
  
} */

/* header {
  background-image: url('./header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4em;
} */



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
